<div id="headerWrapper" class="GSld14">
    <div class="navWrapper clearfix">

        <div class="">
            <a name="skipLinkDestNavigation"></a>

            <div class="logoBgd">
                <a title="[Monster Logo]" href="http://www.monster.com?disRe=true" onclick="return _s.navBarLogo.redirect('monsterLogo','http://www.monster.com?disRe=true','True');" name="monsterLogo">
                    <div class='monsterlogo mons'></div>
                </a>
            </div>


            <div class="cssFloatLeft ">
                <ul id="mainNav" class="mainNav">
                    <li id="gn1378">
                        <span class="fnt7"><a tabindex="0" href="http://my.monster.com/Resume/ManageResumes" name="gnt1378" gfltrack="1" title="Resumes">Resumes</a></span>

                    </li>
                    <li id="gn1147">
                        <span class="fnt7"><a tabindex="0" href="http://jobsearch.monster.com" name="gnt1147" gfltrack="1" title="Jobs">Jobs</a></span>
                    </li>
                    <li id="gn1377">
                        <span class="fnt7"><a tabindex="0" href="http://resources.monster.com" name="gnt1377" gfltrack="1" title="Career Resources">Career Resources</a></span>
                    </li>
                </ul>
            </div>

            <div class="cssFloatRight signOutUser ">
            </div>
        </div>

    </div>

    <div id="searchBoxWrapper" class="searchBoxWrapper " tabindex="0">
        <form name="form_SearchControlsSwitcher" method="post" action="EditOverview" id="form_SearchControlsSwitcher">


            <div id="mainPws" class="searchBox">
                <fieldset>
                    <legend style="display:none">Use New Search</legend>
                    <div class="searchBoxFieldsBgd">
                        <div class='b1 fnt2'>
                            <input name="ctl00$_powerSearchControl$_ptbJobTitle" type="text" value="Job title – e.g., accountant, sales" maxlength="200" id="ctl00__powerSearchControl__ptbJobTitle" tabindex="1" class="Hint cssMarginRight7 fnt4 cssFloatLeft" title="Job title – e.g., accountant, sales" />

                        </div>

                        <div class='b2 fnt2'>
                            <input name="ctl00$_powerSearchControl$_ptbKeywords" type="text" value="Keywords or company name" maxlength="200" id="ctl00__powerSearchControl__ptbKeywords" tabindex="2" class="Hint fnt4 cssFloatLeft" title="Keywords or company name" />

                        </div>
                        <span class="inLabel fnt2">in</span>
                        <div class='b3 fnt2'>
                            <input name="ctl00$_powerSearchControl$_ptbLocations" type="text" value="City, State, or Zip code" maxlength="200" id="ctl00__powerSearchControl__ptbLocations" tabindex="3" class="Hint fnt4 cssFloatLeft cssClearBoth" title="City, State, or Zip code" />

                            <span class="cssFloatRight"></span>
                        </div>

                        <div class='b4'>
                            <a name="ctl00$_powerSearchControl$_btnSearch" id="ctl00__powerSearchControl__btnSearch" title="Search" href="#" class="searchButton" tabindex="4" title="Search">Search<span></span></a>

                            <div class="b5 fnt2">
                                <a id="ctl00__powerSearchControl_advSearchLink" tabindex="5" class="cssFloatLeft cssClearBoth" title="Advanced Search" href="http://jobsearch.monster.com/AdvancedSearch.aspx">Advanced Search</a>
                                <a href="#" id="ctl00__powerSearchControl_browsejobsLnk" class="cssFloatLeft cssClearBoth browsejobsLnk" name="browseJobsLink" tabindex="6" title="Browse Jobs">Browse Jobs</a>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
        </form>
    </div>

</div>
