    <div class="cUserFlair clearfix bottomMargin">
        <a class="profilePic profilePic50w" target="_top" href="/profile/" style='float: left;'>
            <img src="http://media.newjobs.com/ntwk/user-icon-50x50.jpg" alt="Antonin  Jelinek" title="Antonin  Jelinek" />
        </a>
        <div class="ntwkInfo">
            <a href="/profile/" target="_top" class="name"><strong>Antonin  Jelinek</strong></a><br />
            <a href="/profile/" target="_top">View My Profile</a>
        </div>
    </div>

    <a href="#skipLinkToMainContent" class="skip">Skip to Main Content</a>
    <ul id='sideNavigation'>
        <li><a href="/" title="Contact Information" target="" class="active"><i class="iconContactInformation"></i>Contact Information</a></li>
        <li><a href="#" title="Photo" target="" class=""><i class="iconPhoto"></i>Photo</a></li>
        <li><a href="/home/ProfessionalOverview" title="Professional Overview" target="" class=""><i class="iconSummary"></i>Professional Overview</a></li>
        <li><a href="#" title="Experience" target="" class=""><i class="iconExperience"></i>Experience</a></li>
        <li><a href="#" title="Education" target="" class=""><i class="iconEducation"></i>Education</a></li>
        <li><a href="#" title="Certifications" target="" class=""><i class="iconCertification"></i>Certifications</a></li>
        <li><a href="#" title="Skills" target="" class=""><i class="iconSkills"></i>Skills</a></li>
        <li><a href="#" title="Memberships &amp; Awards" target="" class=""><i class="iconAwards"></i>Memberships &amp; Awards</a></li>
        <li><a href="#" title="Interests" target="" class=""><i class="iconInterests"></i>Interests</a></li>
        <li><a href="#" title="Notification Settings" target="" class=""><i class="iconNotificationSettings"></i>Notification Settings</a></li>
        <li><a href="#" title="Privacy Settings" target="" class=""><i class="iconPrivacySettings"></i>Privacy Settings</a></li>
        <li><a href="#" title="Account Settings" target="" class=""><i class="iconAccountSettings"></i>Account Settings</a></li>
    </ul>