
<div data-ng-controller="professionalOverview as vm">

    <div class="contentHeader">
        <h1 class="fnt12">
            <i class="iconSummary"></i>
            Professional Overview
        </h1>
    </div>

    <form action="/Profile/EditOverview" class="formGS" data-submitname="Command" id="form0" method="post">

        <div class="contentSection">
            <div class="contentRow">

                <fieldset id="overview">

                    <label class="fieldWrapper GSgd7 noBottomMargin" id="SummaryContentLabel">
                        <strong>Summary</strong>

                        <textarea aria-labelledby="SummaryContentLabel" cols="20" id="SummaryContent"
                                  maxlength="1000" name="SummaryContent" rows="5"
                                  placeholder="Tell us about your professional experience and goals"
                                  data-ng-model="vm.Resume.Summary.SummaryText"></textarea>

                        <span class="fnt20">Example: Senior sales professional with 8-year background in the telecom industry. Broad knowledge of VoIP products and services. Interested in pursuing a sales management position.</span>
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="contentSection">
            <div class="contentRow">

                <fieldset id="overview" class="fieldWrapper" tabindex="0">
                    <strong>Job Occupations</strong>

                    <div class="innerFieldWrapper stack" id="occupation">
                        <label class="GSgd4" id="Occupations[0].OccupationIdLabel">
                            <strong class="hiddenLabel">Job Occupation</strong>

                            <div data-ng-repeat="occupations in vm.Resume.Summary.Occupations">

                                <span class="GSgd2">
                                    <select ng-model="occupations.OccupationId"
                                            ng-options="occup.OccupationId as occup.OccupationName group by occup.OccupationGroupName for occup in vm.Occupations"></select>
                                </span>

                                <span class="GSgd2 last removeButton"
                                      data-ng-click="vm.removeOccupation($index)">
                                    remove
                                </span>


                            </div>

                            <!--
                <select aria-labelledby="Occupations[0].OccupationIdLabel" id="Occupations_0__OccupationId" name="Occupations[0].OccupationId" style="">
                    <optgroup label="">
                        <option selected="selected" value="">Choose...</option>
                    </optgroup>
                    <optgroup label="Accounting/Finance/Insurance">
                        <option value="1.11711">Accounts Payable/Receivable</option>
                        <option value="1.11712">Actuarial Analysis</option>
                        <option value="1.11724">Audit</option>
                        <option value="1.11730">Bookkeeping</option>
                        <option value="1.14866">Claims Review and Adjusting</option>
                        <option value="1.11750">Collections</option>
                        <option value="1.14867">Corporate Accounting</option>
                        <option value="1.11760">Corporate Finance</option>
                        <option value="1.11766">Credit Review/Analysis</option>
                        <option value="1.11803">Financial Analysis/Research/Reporting</option>
                        <option value="1.14868">Financial Control</option>
                        <option value="1.11804">Financial Planning/Advising</option>
                        <option value="1.11960">Financial Products Sales/Brokerage</option>
                        <option value="1.11817">Fund Accounting</option>
                        <option value="1.11893">General/Other: Accounting/Finance</option>
                        <option value="1.11843">Investment Management</option>
                        <option value="1.11927">Policy Underwriting</option>
                        <option value="1.11940">Real Estate Appraisal</option>
                        <option value="1.14875">Real Estate Leasing/Acquisition</option>
                        <option value="1.11952">Risk Management/Compliance</option>
                        <option value="1.11959">Securities Analysis/Research</option>
                        <option value="1.11981">Tax Accounting</option>
                        <option value="1.11982">Tax Assessment and Collections</option>
                    </optgroup>
                    <optgroup label="Administrative/Clerical">
                        <option value="2.11713">Administrative Support</option>
                        <option value="2.14865">Claims Processing</option>
                        <option value="2.11770">Data Entry/Order Processing</option>
                        <option value="2.11797">Executive Support</option>
                        <option value="2.11802">Filing/Records Management</option>
                        <option value="2.11894">General/Other: Administrative/Clerical</option>
                        <option value="2.11888">Office Management</option>
                        <option value="2.14874">Property Management</option>
                        <option value="2.11942">Reception/Switchboard</option>
                        <option value="2.11958">Secretary/Executive Assistant</option>
                        <option value="2.14880">Transcription</option>
                    </optgroup>
                    <optgroup label="Banking/Real Estate/Mortgage Professionals">
                        <option value="558.11726">Bank Teller</option>
                        <option value="558.15226">Credit Manager</option>
                        <option value="558.15232">Escrow Officer/Manager</option>
                        <option value="558.15228">Loan Officer/Originator</option>
                        <option value="558.15229">Mortgage Broker</option>
                        <option value="558.11939">Real Estate Agent/Broker</option>
                        <option value="558.11940">Real Estate Appraisal</option>
                        <option value="558.11941">Real Estate Law</option>
                        <option value="558.11975">Store/Branch Management</option>
                        <option value="558.15230">Title Officer/Closer</option>
                        <option value="558.15231">Underwriter</option>
                    </optgroup>
                    <optgroup label="Biotech/R&amp;D/Science">
                        <option value="559.11729">Biological/Chemical Research</option>
                        <option value="559.11749">Clinical Research</option>
                        <option value="559.11790">Environmental/Geological Testing &amp; Analysis</option>
                        <option value="559.11912">General/Other: R&amp;D/Science</option>
                        <option value="559.11865">Materials/Physical Research </option>
                        <option value="559.11866">Mathematical/Statistical Research</option>
                        <option value="559.11883">New Product R&amp;D</option>
                        <option value="559.11921">Pharmaceutical Research</option>
                    </optgroup>
                    <optgroup label="Building Construction/Skilled Trades">
                        <option value="544.11737">CAD/Drafting</option>
                        <option value="544.11743">Carpentry/Framing</option>
                        <option value="544.11755">Concrete and Masonry</option>
                        <option value="544.11783">Electrician</option>
                        <option value="544.11809">Flooring/Tiling/Painting/Wallpapering</option>
                        <option value="544.11896">General/Other: Construction/Skilled Trades</option>
                        <option value="544.11829">Heavy Equipment Operation</option>
                        <option value="544.11835">HVAC</option>
                        <option value="544.11845">Ironwork/Metal Fabrication</option>
                        <option value="544.11925">Plumbing/Pipefitting</option>
                        <option value="544.11953">Roofing</option>
                        <option value="544.11963">Sheetrock/Plastering</option>
                        <option value="544.11965">Site Superintendent</option>
                        <option value="544.11978">Surveying</option>
                    </optgroup>
                    <optgroup label="Business/Strategic Management">
                        <option value="3561.11734">Business Analysis/Research</option>
                        <option value="3561.11736">Business Unit Management</option>
                        <option value="3561.11814">Franchise-Business Ownership</option>
                        <option value="3561.11895">General/Other: Business/Strategic Management</option>
                        <option value="3561.11830">Hospital/Clinic Administration</option>
                        <option value="3561.14869">Hotel/Lodging Management</option>
                        <option value="3561.11860">Managerial Consulting</option>
                        <option value="3561.11875">Mergers and Acquisitions</option>
                        <option value="3561.11929">President/Top Executive</option>
                        <option value="3561.11936">Public Health Administration</option>
                        <option value="3561.11947">Restaurant Management</option>
                        <option value="3561.11955">School/College Administration</option>
                        <option value="3561.11975">Store/Branch Management</option>
                        <option value="3561.11976">Strategic Planning/Intelligence</option>
                        <option value="3561.11990">Town/City Planning</option>
                    </optgroup>
                    <optgroup label="Creative/Design">
                        <option value="11454.11714">Advertising Writing (Creative)</option>
                        <option value="11454.11719">Architecture/Interior Design</option>
                        <option value="11454.11752">Computer Animation &amp; Multimedia</option>
                        <option value="11454.11765">Creative Direction/Lead</option>
                        <option value="11454.11800">Fashion &amp; Accessories Design</option>
                        <option value="11454.11897">General/Other: Creative/Design</option>
                        <option value="11454.11821">Graphic Arts/Illustration</option>
                        <option value="11454.11837">Industrial Design</option>
                        <option value="11454.11923">Photography and Videography</option>
                        <option value="11454.12005">Web/UI/UX Design</option>
                    </optgroup>
                    <optgroup label="Customer Support/Client Care">
                        <option value="545.11710">Account Management (Non-Commissioned)</option>
                        <option value="545.11726">Bank Teller</option>
                        <option value="545.11738">Call Center</option>
                        <option value="545.11768">Customer Training</option>
                        <option value="545.11808">Flight Attendant</option>
                        <option value="545.11898">General/Other: Customer Support/Client Care</option>
                        <option value="545.11824">Hair Cutting/Styling</option>
                        <option value="545.11945">Reservations/Ticketing</option>
                        <option value="545.11948">Retail Customer Service</option>
                        <option value="545.11985">Technical Customer Service</option>
                    </optgroup>
                    <optgroup label="Editorial/Writing">
                        <option value="5623.11775">Digital Content Development</option>
                        <option value="5623.11778">Documentation/Technical Writing</option>
                        <option value="5623.11781">Editing &amp; Proofreading</option>
                        <option value="5623.11899">General/Other: Editorial/Writing</option>
                        <option value="5623.11850">Journalism</option>
                        <option value="5623.11992">Translation/Interpretation</option>
                    </optgroup>
                    <optgroup label="Education/Training">
                        <option value="3.11748">Classroom Teaching</option>
                        <option value="3.11756">Continuing/Adult </option>
                        <option value="3.11759">Corporate Development and Training</option>
                        <option value="3.11768">Customer Training</option>
                        <option value="3.11779">Early Childhood Care &amp; Development</option>
                        <option value="3.11784">Elementary School</option>
                        <option value="3.11807">Fitness &amp; Sports Training/Instruction</option>
                        <option value="3.11915">General/Other: Training/Instruction</option>
                        <option value="3.11851">Junior/High School</option>
                        <option value="3.11955">School/College Administration</option>
                        <option value="3.11971">Software/Web Training</option>
                        <option value="3.11972">Special Education</option>
                        <option value="3.11995">University </option>
                    </optgroup>
                    <optgroup label="Engineering">
                        <option value="4.11715">Aeronautic/Avionic Engineering</option>
                        <option value="4.11728">Bio-Engineering</option>
                        <option value="4.11737">CAD/Drafting</option>
                        <option value="4.11746">Chemical Engineering</option>
                        <option value="4.11747">Civil &amp; Structural Engineering</option>
                        <option value="4.11782">Electrical/Electronics Engineering</option>
                        <option value="4.11786">Energy/Nuclear Engineering</option>
                        <option value="4.11788">Environmental and Geological Engineering</option>
                        <option value="4.11900">General/Other: Engineering</option>
                        <option value="4.11838">Industrial/Manufacturing Engineering</option>
                        <option value="4.11867">Mechanical Engineering</option>
                        <option value="4.11881">Naval Architecture/Marine Engineering</option>
                        <option value="4.11951">RF/Wireless Engineering</option>
                        <option value="4.11980">Systems/Process Engineering</option>
                    </optgroup>
                    <optgroup label="Food Services/Hospitality">
                        <option value="13.11810">Food &amp; Beverage Serving</option>
                        <option value="13.11811">Food Preparation/Cooking</option>
                        <option value="13.11816">Front Desk/Reception</option>
                        <option value="13.11901">General/Other: Food Services</option>
                        <option value="13.11822">Guest Services/Concierge</option>
                        <option value="13.11823">Guide (Tour) </option>
                        <option value="13.11831">Host/Hostess</option>
                        <option value="13.11947">Restaurant Management</option>
                        <option value="13.12007">Wine Steward (Sommelier)</option>
                    </optgroup>
                    <optgroup label="Human Resources">
                        <option value="5.14864">Academic Admissions and Advising</option>
                        <option value="5.11751">Compensation/Benefits Policy</option>
                        <option value="5.11759">Corporate Development and Training</option>
                        <option value="5.11777">Diversity Management/EEO/Compliance</option>
                        <option value="5.11902">General/Other: Human Resources</option>
                        <option value="5.11834">HR Systems Administration</option>
                        <option value="5.11918">Payroll and Benefits Administration</option>
                        <option value="5.11943">Recruiting/Sourcing </option>
                    </optgroup>
                    <optgroup label="Installation/Maintenance/Repair">
                        <option value="553.11753">Computer/Electronics/Telecomm Install/Maintain/Repair</option>
                        <option value="553.11783">Electrician</option>
                        <option value="553.11791">Equipment Install/Maintain/Repair</option>
                        <option value="553.11798">Facilities Management/Maintenance</option>
                        <option value="553.11903">General/Other: Installation/Maintenance/Repair</option>
                        <option value="553.11835">HVAC</option>
                        <option value="553.11849">Janitorial &amp; Cleaning </option>
                        <option value="553.11854">Landscaping</option>
                        <option value="553.11858">Locksmith</option>
                        <option value="553.11889">Oil Rig &amp; Pipeline Install/Maintain/Repair</option>
                        <option value="553.11925">Plumbing/Pipefitting</option>
                        <option value="553.12000">Vehicle Repair and Maintenance</option>
                        <option value="553.14881">Wire and Cable Install/Maintain/Repair</option>
                    </optgroup>
                    <optgroup label="IT/Software Development">
                        <option value="660.11754">Computer/Network Security</option>
                        <option value="660.11772">Database Development/Administration</option>
                        <option value="660.11774">Desktop Service and Support</option>
                        <option value="660.11787">Enterprise Software Implementation &amp; Consulting</option>
                        <option value="660.11904">General/Other: IT/Software Development</option>
                        <option value="660.11848">IT Project Management</option>
                        <option value="660.11882">Network and Server Administration</option>
                        <option value="660.11969">Software/System Architecture</option>
                        <option value="660.11970">Software/Web Development</option>
                        <option value="660.11979">Systems Analysis - IT</option>
                        <option value="660.11987">Telecommunications Administration/Management</option>
                        <option value="660.11996">Usability/Information Architecture</option>
                        <option value="660.12005">Web/UI/UX Design</option>
                    </optgroup>
                    <optgroup label="Legal">
                        <option value="7.11722">Attorney</option>
                        <option value="7.11757">Contracts Administration</option>
                        <option value="7.11905">General/Other: Legal</option>
                        <option value="7.11852">Labor &amp; Employment Law</option>
                        <option value="7.11916">Paralegal &amp; Legal Secretary</option>
                        <option value="7.11917">Patent/IP Law</option>
                        <option value="7.11941">Real Estate Law</option>
                        <option value="7.11944">Regulatory/Compliance Law</option>
                        <option value="7.11983">Tax Law</option>
                    </optgroup>
                    <optgroup label="Logistics/Transportation">
                        <option value="5625.11739">Car, Van and Bus Driving</option>
                        <option value="5625.11742">Cargo and Baggage Handling</option>
                        <option value="5625.11763">Cost Estimating</option>
                        <option value="5625.11793">Equipment/Forklift/Crane Operation</option>
                        <option value="5625.11906">General/Other: Logistics/Transportation</option>
                        <option value="5625.11827">Hazardous Materials Handling</option>
                        <option value="5625.11836">Import/Export Administration</option>
                        <option value="5625.11842">Inventory Planning and Management</option>
                        <option value="5625.11874">Merchandise Planning and Buying</option>
                        <option value="5625.11876">Messenger/Courier</option>
                        <option value="5625.11924">Piloting: Air and Marine</option>
                        <option value="5625.11937">Purchasing</option>
                        <option value="5625.11964">Shipping and Receiving/Warehousing</option>
                        <option value="5625.11977">Supplier Management/Vendor Management</option>
                        <option value="5625.11991">Train or Rail Operator</option>
                        <option value="5625.11994">Truck Driving</option>
                        <option value="5625.11998">Vehicle Dispatch, Routing and Scheduling</option>
                    </optgroup>
                    <optgroup label="Manufacturing/Production/Operations">
                        <option value="47.11721">Assembly/Assembly Line</option>
                        <option value="47.11723">Audio/Video Broadcast &amp; Postproduction</option>
                        <option value="47.11792">Equipment Operations</option>
                        <option value="47.11909">General/Other: Production/Operations</option>
                        <option value="47.11827">Hazardous Materials Handling</option>
                        <option value="47.14871">Laundry and Dry-Cleaning Operations</option>
                        <option value="47.11855">Layout, Prepress, Printing, &amp; Binding Operations</option>
                        <option value="47.11859">Machining/CNC</option>
                        <option value="47.11877">Metal Fabrication and Welding </option>
                        <option value="47.11880">Moldmaking/Casting</option>
                        <option value="47.11890">Operations/Plant Management</option>
                        <option value="47.11933">Production/Operations Planning</option>
                        <option value="47.14878">Scientific/Technical Production</option>
                        <option value="47.11962">Sewing and Tailoring</option>
                        <option value="47.11987">Telecommunications Administration/Management</option>
                        <option value="47.12003">Waste Pick-up and Removal</option>
                    </optgroup>
                    <optgroup label="Marketing/Product">
                        <option value="9007.11732">Brand/Product Marketing</option>
                        <option value="9007.11758">Copy Writing/Editing</option>
                        <option value="9007.11776">Direct Marketing (CRM)</option>
                        <option value="9007.11795">Events/Promotional Marketing</option>
                        <option value="9007.11907">General/Other: Marketing/Product</option>
                        <option value="9007.11844">Investor and Public/Media Relations</option>
                        <option value="9007.11862">Market Research</option>
                        <option value="9007.11863">Marketing Communications</option>
                        <option value="9007.11864">Marketing Production/Traffic</option>
                        <option value="9007.11869">Media Planning and Buying</option>
                        <option value="9007.11931">Product Management</option>
                        <option value="9007.11988">Telemarketing</option>
                        <option value="9007.12002">Visual/Display Merchandising</option>
                    </optgroup>
                    <optgroup label="Medical/Health">
                        <option value="3975.11872">Dental Assistant/Hygienist</option>
                        <option value="3975.11773">Dental Practitioner</option>
                        <option value="3975.11785">EMT/Paramedic</option>
                        <option value="3975.11908">General/Other: Medical/Health</option>
                        <option value="3975.11820">Healthcare Aid</option>
                        <option value="3975.11853">Laboratory/Pathology</option>
                        <option value="3975.11938">Medical Imaging</option>
                        <option value="3975.11870">Medical Practitioner</option>
                        <option value="3975.11871">Medical Therapy/Rehab Services</option>
                        <option value="3975.11873">Mental Health</option>
                        <option value="3975.11885">Nursing</option>
                        <option value="3975.11886">Nutrition and Diet</option>
                        <option value="3975.11891">Optical</option>
                        <option value="3975.11922">Pharmacy </option>
                        <option value="3975.14873">Physician Assistant/Nurse Practitioner</option>
                        <option value="3975.11936">Public Health Administration</option>
                        <option value="3975.11967">Social Service</option>
                        <option value="3975.11973">Sports Medicine</option>
                        <option value="3975.12001">Veterinary/Animal Care </option>
                    </optgroup>
                    <optgroup label="Other">
                        <option value="11.11741">Career Fair</option>
                        <option value="11.11892">Other</option>
                        <option value="11.12008">Work at Home</option>
                    </optgroup>
                    <optgroup label="Project/Program Management">
                        <option value="9008.11794">Event Planning/Coordination</option>
                        <option value="9008.11910">General/Other: Project/Program Management</option>
                        <option value="9008.11848">IT Project Management</option>
                        <option value="9008.11934">Program Management</option>
                        <option value="9008.11935">Project Management</option>
                    </optgroup>
                    <optgroup label="Quality Assurance/Safety">
                        <option value="11455.11733">Building/Construction Inspection</option>
                        <option value="11455.11789">Environmental Protection/Conservation</option>
                        <option value="11455.11813">Food Safety and Inspection</option>
                        <option value="11455.11815">Fraud Investigation</option>
                        <option value="11455.11911">General/Other: Quality Assurance/Safety</option>
                        <option value="11455.11846">ISO Certification</option>
                        <option value="11455.11887">Occupational Health and Safety</option>
                        <option value="11455.11932">Production Quality Assurance</option>
                        <option value="11455.11966">Six Sigma/Black Belt/TQM</option>
                        <option value="11455.11968">Software Quality Assurance</option>
                        <option value="11455.11999">Vehicle Inspection</option>
                    </optgroup>
                    <optgroup label="Sales/Retail/Business Development">
                        <option value="10.11709">Account Management (Commissioned)</option>
                        <option value="10.11735">Business Development/New Accounts</option>
                        <option value="10.11801">Field Sales</option>
                        <option value="10.11960">Financial Products Sales/Brokerage</option>
                        <option value="10.11818">Fundraising</option>
                        <option value="10.11913">General/Other: Sales/Business Development</option>
                        <option value="10.11839">Insurance Agent/Broker</option>
                        <option value="10.11840">International Sales</option>
                        <option value="10.11868">Media and Advertising Sales</option>
                        <option value="10.11874">Merchandise Planning and Buying</option>
                        <option value="10.11939">Real Estate Agent/Broker</option>
                        <option value="10.11950">Retail/Counter Sales and Cashier</option>
                        <option value="10.11954">Sales Support/Assistance</option>
                        <option value="10.11975">Store/Branch Management</option>
                        <option value="10.11986">Technical Presales Support &amp; Technical Sales</option>
                        <option value="10.11989">Telesales</option>
                        <option value="10.11993">Travel Agent/Ticket Sales</option>
                        <option value="10.12002">Visual/Display Merchandising</option>
                        <option value="10.12006">Wholesale/Reselling Sales</option>
                    </optgroup>
                    <optgroup label="Security/Protective Services">
                        <option value="555.11718">Airport Security and Screening</option>
                        <option value="555.11762">Correctional Officer</option>
                        <option value="555.11769">Customs/Immigration</option>
                        <option value="555.11805">Firefighting and Rescue</option>
                        <option value="555.11914">General/Other: Security/Protective Services</option>
                        <option value="555.11879">Military Combat</option>
                        <option value="555.11926">Police-Law Enforcement</option>
                        <option value="555.11961">Security Guard</option>
                        <option value="555.14879">Security Intelligence &amp; Analysis</option>
                        <option value="555.11974">Store Security/Loss Prevention</option>
                    </optgroup>
                </select>

                -->
                        </label>
                    </div>
                    <span class="fieldsetFooter GSgd4">
                        <a id="occBtnAdd" data-ng-click="vm.addOccupation()">Add another Occupation</a>
                    </span>
                </fieldset>
            </div>
            <fieldset class="fieldWrapper GSgd4 noBottomMargin">
                <!--<input class="btn styleE" data-value="SAVE_OCCUPATION" id="saveoccupation" type="submit" value="SAVE CHANGES"></input><input id="FormWasSubmittedToken" name="FormWasSubmittedToken" type="hidden" value="True" />-->
                <input class="btn styleE" data-value="Save" style="float:left" type="button" value="Save changes" data-ng-click="vm.updateResume()">
            </fieldset>
        </div>
    </form>


</div>
